<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Register form</title>
    <link rel="stylesheet" href="style.css">
    

    <style>
        #message-list {
            margin: -29px 0px -31px 1px;
            text-align: center;
            display: none;

        }

        .pop {
            margin: -29px 0px -31px 1px;
        }


        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

        .valid:before {
            position: relative;
            left: -15px;
            content: "✔";
        }

        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
            color: red;
        }

        .invalid:before {
            position: relative;

            content: "✖";
        }
    </style>
</head>

<body>


    <div class="hero">
        <p class="chat">
            My ChAt App
        </p>
        <nav>
            <img class="logo1" src="xchat.png" alt="logo">

        </nav>
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="pop">
                <div id="message-list">
                    <h3>Password must contain the following:</h3>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>

                </div>


            </div>


            <!-- this is the login form -->


            <form id="login" method="post" action="/login" class="input-grp">
                <p id="errormsg" class="user-error">

                </p>
                <input type="text" name='name' class=" input-field" id="log-inp-use" placeholder="User ID" required>
                <input type="password" name="password" class=" password" id="log-inp-pas" placeholder="Enter Password"
                    required>
                    <p class="error"> <%= locals.msg %> </p>
                <input type="checkbox" class="checkbox" required><span>Remember Password</span>
                <button type="submit" class="log-btn">Log In</button>

            </form>

            <!-- this is the register form -->

            <form id="register" method="post" action="/register" class="input-grp">
                <p id="regerror">
                </p>
                <input type="text" name="UserID" class=" input-field" id="reg-user" placeholder="User ID" required>
                <input type="email" name="email" class=" input-field" placeholder="Enter email ID" required>

                <input type="password" name="pass" class=" password" id="psw"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    placeholder="Enter Password" required>
                <input type="checkbox" class="checkbox" required><span>I agree to to this</span>
                <button type="submit" class="log-btn">Register</button>
            </form>

            <div id="foot" class="foot-class-one">
                if you don't have any account then Register!
            </div>





        </div>
    </div>
    <script token={{{this.token}}} message={{{this.msg1}}}>

        let x = document.getElementById("login");
        let y = document.getElementById("register");
        let z = document.getElementById("btn");
        let f = document.getElementById('foot');
        let regeer = document.getElementById('regerror');
        let popup = document.getElementById('errormsg');
        let token = document.currentScript.getAttribute('token');


        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

      


        logUser.onfocus = function () {
            popup.style.display = 'none';
        }
        logPass.onfocus = function () {
            popup.style.display = 'none';
        }
        regerror.onfocus = function () {
            regeer.style.display = 'none';
        }




        function register() {

            regeer.style.display = 'block'
            f.innerHTML = "Already Register?Then Login"
            f.classList.remove('foot-class-one')
            f.classList.add('foot-class-two')
            popup.style.display = 'none';
            x.style.left = "-400px"
            y.style.left = "50px"
            z.style.left = "110px"
        }
        


        function login() {
            console.log("after refer");
            regeer.style.display = 'none'
            f.innerHTML = " if you don't have any account then Register!"
            f.classList.add('foot-class-one')
            f.classList.remove('foot-class-two')
            x.style.left = "50px"
            y.style.left = "450px"
            z.style.left = "0px"
        }
        

    </script>
</body>

</html>