<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Done</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .logined {

            color: red;
            display: block;
        }

        /* #reg {
            color: green;
            display: block;
        } */
    </style>
</head>

<body>
    
        <div class="logined">
            <h1>
               
                Logined succesfully by<%=locals.msg %>
                    <!-- getting value from the server from login page to submitted page -->
            </h1>
        </div>

     

</body>

</html>